.experiencia {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.experiencia .subtitulo {
    color: #9400e9;
}

.experiencia-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #bab0b0;
}

.experiencia-texto strong {
    color: #9400e9;
}

.empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding: 20px;
    background: #000000;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
}

.empresa::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#9400e9, #5c0091);
    position: absolute;
    top: 30px;
    left: -4px;
}

.empresa-ano {
    position: absolute;
    top: 32px;
    left: -100px;
    text-align: right;
    width: 80px;
    color: #bab0b0;
    font-size: 0.875rem;
}

.tecnologias-utilizadas {
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}

.empresa-titulo {
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
    background: #5c0091;
    padding: 8px 0px 8px 0px;
    border-radius: 4px;
    max-width: max-content;
    border: 4px solid transparent;
    display: block;
}

.empresa-titulo a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 4px 10px 4px;
    max-width: inherit;
}

.empresa-titulo:hover {
    background: #9400e9;
}

.tecnologias-utilizadas {
    align-content: center;
}

.empresa-texto {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #bab0b0;
}

.empresa-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
}

.empresa-habilidades li {
    font-size: 0.875rem;
    line-height: 1.4;
    border-radius: 4px;
    background: #5c0091;
    padding: 5px 10px;
}

@media (max-width: 800px) {
    .experiencia {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .experiencia .subtitulo {
        color: #9400e9;
    }

    .experiencia-texto {
        font-size: 1.25rem;
    }

    .empresa-ano {
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
    }

    .empresa-titulo a {
        color: #ffffff;
        text-decoration: none;
        padding: 0px 8px 4px 0;
        display: flex;
        flex-wrap: wrap;
    }

    .empresa-titulo {
        border-radius: 4px;
        border: 4px solid transparent;
        padding: 8px 0px 0px 8px;
        display: block;
    }
}

@media (max-width: 430px) {
    .empresa {
        grid-template-columns: 1fr;
    }
}