.footer {
    background: #000000;
}

.footer-container {
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #cccccc;
    position: relative;
}

.footer-contato {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
}

.footer-contato .footer-lista {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.1;
    color: #9400e9;
    margin-bottom: 30px;
    max-width: 50px;
}

.footer-contato .footer-link {
    color: #9400e9;
    text-decoration: none;
}

.footer-contato li a img {
    max-width: 50px;

}

.footer .footer-lista .footer-link img:hover {
    filter: hue-rotate(700deg) contrast(65%);
}

.footer .tel a:hover {
    color: #5e01d0e0;
}

.footer-contato .tel {
    max-width: 300px;
    font-size: 2rem;
    grid-column: 1 / 6
}

.botao-home {
    padding: 10px 15px;
    background: #000000;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    grid-column: 4;
    position: absolute;
    width: 60px;
    height: 60px;
    right: -150px;
    bottom: -100px;
}

.botao-home.seta {
    display: flex;
    align-items: center;
}

.botao-home.seta::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 14px;
    background: url("../img/seta-para-cima.svg");
    transition: 0.3s;
}

.botao-home.seta:hover:after {
    transform: translateY(-10px);
}

.footer-copy {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #8f8f8f;
}

@media (max-width: 800px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer-contato li {
        font-size: 1.5rem;
    }
}

@media (max-width: 1530px) {
    .botao-home {
        width: 40px;
        height: 40px;
        right: auto;
        bottom: -100px;
    }

    .botao-home.seta::after {
        width: 40px;
        height: 33px;
        margin-left: 8px;
    }
}

@media (max-width: 830px) {
    .botao-home {
        width: 40px;
        height: 40px;
        right: auto;
        bottom: -120px;
    }

    .botao-home.seta::after {
        width: 35px;
        height: 30px;
        margin-left: 10px;
    }
}


@media (max-width: 800px) {
    .botao-home {
        width: 40px;
        height: 40px;
        right: auto;
        bottom: -20px;
    }

    .botao-home.seta::after {
        width: 35px;
        height: 30px;
        margin-left: 10px;
    }
}